<header>
  <nav class="navbar navbar-expand navbar-light">
    <%= link_to "Simple Payroll App", root_path, class: 'navbar-brand' %>
    <div id="Navber">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to '会社情報', user_show_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "スタッフ一覧", root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "勤怠データ", user_path(current_user.id), class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "スタッフ登録", new_member_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
      <% else %>
          <% if member_signed_in? %>
            <li class="nav-item active">
              <%= link_to '会社情報', user_show_path, class: 'nav-link' %>
            </li>
            <li class="nav-item active">
              <%= link_to "スタッフ情報", member_show_path, class: 'nav-link' %>
            </li>
            <li class="nav-item active">
              <%= link_to "スタッフ一覧", root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item active">
              <%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item active">
              <%= link_to "管理者ログイン", new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item active">
              <%= link_to "スタッフログイン", new_member_session_path, class: 'nav-link' %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </nav>
</header>