<%= render 'shared/flash_messages' %>


<div class="container-show">
    <h1>スタッフ情報:(<%= @member.name %>)</h1>

    <div class="table-responsive text-nowrap">
    <table class="table table-striped">
        <tr style="text-align:center">
            <th><%= t("activerecord.attributes.member.name") %></th>
            <td><%= @member.name %></td>
        </tr>
        <tr style="text-align:center">
            <th><%= t("activerecord.attributes.member.email") %></th>
            <td><%= @member.email %></td>
        </tr>
        <tr style="text-align:center">
            <th><%= t("activerecord.attributes.member.pay_type") %></th>
            <td><%= @member.pay_type %></td>
        </tr>
        <tr style="text-align:center">
            <th><%= t("activerecord.attributes.member.basic_pay") %></th>
            <td><%= ActiveSupport::NumberHelper.number_to_rounded(@member.basic_pay, precision: 30, strip_insignificant_zeros: true) %></td>
        </tr>
        <tr style="text-align:center">
            <th><%= t("activerecord.attributes.member.overtime_price") %></th>
            <td><%= ActiveSupport::NumberHelper.number_to_rounded(@member.overtime_price, precision: 30, strip_insignificant_zeros: true) %></td>
        </tr>
        <tr style="text-align:center">
            <th><%= t("activerecord.attributes.member.holiday_price") %></th>
            <td><%= ActiveSupport::NumberHelper.number_to_rounded(@member.holiday_price, precision: 30, strip_insignificant_zeros: true) %></td>
        </tr>
        <tr style="text-align:center">
            <th><%= t("activerecord.attributes.member.midnight_price") %></th>
            <td><%= ActiveSupport::NumberHelper.number_to_rounded(@member.midnight_price, precision: 30, strip_insignificant_zeros: true) %></td>
        </tr>
        <tr style="text-align:center">
            <th><%= t("activerecord.attributes.member.commutation_type") %></th>
            <td><%= @member.commutation_type %></td>
        </tr>
        <tr style="text-align:center">
            <th><%= t("activerecord.attributes.member.commutation_tax") %></th>
            <td><%= ActiveSupport::NumberHelper.number_to_rounded(@member.commutation_tax, precision: 30, strip_insignificant_zeros: true) %></td>
        </tr>
        <tr style="text-align:center">
            <th><%= t("activerecord.attributes.member.commutation_nontax") %></th>
            <td><%= ActiveSupport::NumberHelper.number_to_rounded(@member.commutation_nontax, precision: 30, strip_insignificant_zeros: true) %></td>
        </tr>
        <tr style="text-align:center">
            <th><%= t("activerecord.attributes.member.normal_hours") %></th>
            <td><%= @member.normal_hours.strftime("%H:%M") unless @member.normal_hours.nil? %></td>
        </tr>
        <tr style="text-align:center">
            <th><%= t("activerecord.attributes.member.allowance_1") %></th>
            <td><%= ActiveSupport::NumberHelper.number_to_rounded(@member.allowance_1, precision: 30, strip_insignificant_zeros: true) %></td>
        </tr>
        <tr style="text-align:center">
            <th><%= t("activerecord.attributes.member.allowance_2") %></th>
            <td><%= ActiveSupport::NumberHelper.number_to_rounded(@member.allowance_2, precision: 30, strip_insignificant_zeros: true) %></td>
        </tr>
        <tr style="text-align:center">
            <th><%= t("activerecord.attributes.member.allowance_3") %></th>
            <td><%= ActiveSupport::NumberHelper.number_to_rounded(@member.allowance_3, precision: 30, strip_insignificant_zeros: true) %></td>
        </tr>
        <tr style="text-align:center">
            <th><%= t("activerecord.attributes.member.allowance_4") %></th>
            <td><%= ActiveSupport::NumberHelper.number_to_rounded(@member.allowance_4, precision: 30, strip_insignificant_zeros: true) %></td>
        </tr>
        <tr style="text-align:center">
            <th><%= t("activerecord.attributes.member.allowance_5") %></th>
            <td><%= ActiveSupport::NumberHelper.number_to_rounded(@member.allowance_5, precision: 30, strip_insignificant_zeros: true) %></td>
        </tr>
    </table>
    </div>
</div>